@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font: Verdana, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100vw;
}

.column {
  padding: 1rem;
  border-radius: 8px;
  background-color: hsl(240, 62%, 90%);
  flex: 1;
  height: 100vh;
}

.column.side {
  flex: 0;
  width: fit-content;
}

@media (max-width: 1024px) {
  .column {
    width: auto;
    flex: auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
